
.cake-details-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}


.notification {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}


.cakes-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.cake-item {
    width: 250px;
    text-align: center;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}


.cake-item:hover {
    transform: scale(1.05);
}


.cake-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


.add-to-cart-btn {
    background: linear-gradient(to right, #1fd8e2, #7bfea7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}


.add-to-cart-btn:hover {
    background: linear-gradient(to right, #31c1c9, #b3cfbc);
}


.cake-item h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.cake-item p {
    font-size: 0.9em;
    color: #777;
    margin: 10px 0;
}

.cake-item span {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}
