.cart-container {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .remove-from-cart-btn {
    background-color: #e53d29;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-from-cart-btn:hover {
    background-color: #c03c24;
  }
  
  .total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  