.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #ffb6c1, #ff6347);
    border-radius: 10px;
    color: rgb(247, 241, 241);
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px;
    background: linear-gradient(to right, #13787d, #7bfea7);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  